<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
<title>WWW::Hashbang::Pastebin</title>
<style type="text/css">
body        { background: #ffffff; }
a           { text-decoration: none; }
.lineno     { background-color: #f0f0f0; margin: 0; padding: 0 10px 0 5px; }
pre         { margin: 0; padding: 0; line-height: 125%; word-wrap: break-word; white-space: pre-wrap; }
#paste      { overflow: visible; }
</style>
</head>
<body>
<% content %>
</body>
</html>
